<header>
  <div class="conteneurHeader">
    <div class="conteneurHeaderElement">
      <a href="#">Gmail</a> <a href="#">Images</a>
    </div>
    <div class="conteneurHeaderElement">
      <%= image_tag 'googleAppsIcon.png', title: "Icône Google Apps" %>
      <%= image_tag 'notificationIcon.png', title: "Icône Google Apps" %>
      <%= image_tag 'thp.png', title: "Icône Google Apps", width: "30px" %>
    </div>
  </div>
</header>

<div class="conteneurPrincipal">
  <%= image_tag 'logo.png' %><br />
  <input type="text" placeholder="Effectuez une recherche qui n'aura pas de résultats..."/><br/>
  <button>Recherche Google</button>
  <button>J'ai de la chance</button><br/>
  <p style="margin-top: 20px;" class="phrase">Google disponible en : <a href="#">English</a></p>
</div>

<footer>
    <div class="conteneurFooter">
        <p>France</p>
        <div class="conteneurFooterBot">
            <div class="conteneurFooterBotElement">
            <ul>
                <li><a href="#">Publicité</a></li>
                <li><a href="#">Entreprise</a></li>
                <li><a href="#">A propos</a></li>
            </div>
            <div class="conteneurFooterBotElement">
            <ul>
                <li><a href="#">Info consommateurs</a></li>
                <li><a href="#">Confidentialité</a></li>
                <li><a href="#">Conditions</a></li>
                <li><a href="#">Paramètres</a></li>
            </div>
        </div>
    </div>        
</footer>